@charset "UTF-8"; 

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor0: #f3e2f0;
    --cor1: #df3ac0;
    --cor2: #8b2c6e;
    --cor3: #621d57;
    --cor4: #F8C22E;
    --cor5: #b02e0c;
}

*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body{
    background-color: var(--cor0);
}
a.externo::after{
    content: '\00A0\1F517';
}



header{
    background-color: var(--cor4);
    background-image: url('../imagens/banner.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80vw 200px;  
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}


header>h1{
    font-family: 'Courier New', Courier, monospace;
    color:var(--cor2);
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}
header>p{
    font-size: 1.2em;
    color: var(--cor2);
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;

}
nav{
    background-color: var(--cor2);   
    box-shadow: 7px 7px 7px var(--cor4);
}

nav>ul{
    list-style: none;
}

nav>ul>li{
    display: inline-block;
    padding: 15px 5px 15px 5px;
}

nav>ul>li>a{
    color: var(--cor0);
    font-family: 'Courier New', Courier, monospace;
    border-bottom: 20px;
    width: 10px;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.3s;
}
nav>ul>li>a:hover{
    text-shadow: 3px 3px 5px  black;
    color: var(--cor4);
}


img.insta{ 
    width: 18px;
    border: 10px;  
}
main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);
    border-radius: 0px 0px 10px 10px;
}
main h1{
    color: var(--cor5);
    text-align: center;
}
main h2{
    color: var(--cor0);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor2), transparent);
    text-indent: 8px;
}
main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}
main strong{
    color: var(--cor2);
    font-weight: bold;
}
main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor4);
    padding: 2px 6px;
}
main a:hover{
    text-shadow: 3px 3px 5px  black;
    color: var(--cor4);
    background-color: var(--cor5);

}


main img{
    width: 100%;
}
main img.pequena{
    width: 50%;
    display: block;
    margin: auto;
}
div.video{
    background-color: var(--cor2);
    margin: 20px -20px 30px -20px;
    padding: 20px;
    position: relative;
    padding-bottom: 90%;
}

div.video>iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}  
aside{
    background-color: var(--cor2);
    color: var(--cor0);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281
    );
}

aside ul{
    list-style: none;
}

footer{
    background-color: var(--cor2);
    color: var(--cor4);
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}
footer a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
footer a:hover{
    color: var(--cor5);
    background-color: var(--cor4);
}







